%center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
%centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
%centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
%button-design {
  color: $yellow-color;
  background-color: $red-color;
  &:hover {
    color: initial;
    background-color: $yellow-color;
  }
}
